h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#footer {
  position: absolute;
  width: 302px;
  height: 20px;
  left: 696px;
  top: 95.5%;
  margin-top: 0px;
}

#tla-logo {
  height: 1.55em;
  vertical-align: -0.55em;
}
