#footer  {
   align-items: center;
   background-color: #fff;
   bottom: 0;
   display: flex;
   font-weight: regular;
   height: 4vh;
   justify-content: center;
   position: fixed;
   width: 100%;
   z-index: 99;
}

#tla-logo {
   height: 1.55em;
   vertical-align: -0.51em;
}