@import 'global';

.drop {
  cursor: pointer;
  display: inline-block;
  font-family: $main-font;
  font-size: 20px;
  line-height: 22px;
  min-height: 27px;
  position: relative;
  width: 75px;
}

.top {
  z-index: 3;
}

.middle {
  z-index: 2;
}

.bottom {
  z-index: 1;
}

.Dropdown-root {
  background-color: white;
  border-radius: 3px;
}

.is-open {
  // background-color: $light-orange;
  -webkit-box-shadow: 5px 5px 18px -4px rgba(48, 35, 14, 0.17);
  box-shadow: 5px 5px 18px -4px rgba(48, 35, 14, 0.17);
}

.Dropdown-placeholder {
  margin-bottom: 2px;
  padding-left: 10px;
  // padding-right: 10px;
}

.Dropdown-option {
  box-sizing: border-box;
  padding: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.Dropdown-menu {
  border-top: 1px solid $light-orange;
  margin-top: 5px;
}

.Dropdown-option:hover {
  background-color: $light-orange;
}


.arrow {
  background: url('../assets/arrow.svg') no-repeat right;
  display: inline-block;
  padding: 4px;
  width: 4px;
}

.flipped {
  transform: scaleY(-1);
}

.Dropdown-arrow-wrapper {
  padding: 0 7px;
}

.Dropdown-control {
  border-radius: 3px;
  display: flex;
  min-height: 27px;
  min-width: 60px;
}

.Dropdown-control:hover {
  background-color: $hover-color;
}

.Dropdown-placeholder.is-selected { //Dropdown selected option
  flex-grow: 1;
}

.option {
  min-width: 60px;
  padding-left: 10px;
}

.option:hover {
  background-color: $hover-color;
}

.last {
  border-radius: 0 0 3px 3px;
}
