@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'), 
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'),
    url('../assets/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: bold;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: medium;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: regular;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: semiBold;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
}

// Variables
$main-background: #fff;
$main-orange: #ff8a00;
$light-orange: #ffddb5;
$main-green: #36b37e;
$code-background: #322727;
$main-blue: #00b8d9;
$hover-color: #adadad;
$dropdown-open: lightgrey;
$main-font: 'Darker Grotesque', sans-serif;
$code-font: 'Roboto Mono', monospace;

$code-font-size: calc(12px + 0.5vw);
$output-font-size: calc(17px + 0.5vw);
$sidebar-font-size: 18px;
$subtitle-font-size: calc(20px + 1.5vw);
$title-font-size: calc(20px + 1.5vw);

$subtitle-line-height: 100%;
$rectangle-corner-radius: 8px;
$sidebar-width: 275px;

// Elements
@media only screen and (min-width: 550px) {
  .code-and-output {
    display: grid;
    gap: max(1vw, 15px);
    grid-template-columns: 70% auto;
  }

  #output {
    padding-left: 3vw;
  }
}

.code-and-output {
  display: grid;
  gap: max(1vw, 15px);
}

#code {
  align-items: center;
  background-color: $code-background;
  border-radius: $rectangle-corner-radius;
  display: flex;
  font-family: $code-font;
  font-size: $code-font-size;
  line-height: 1.3em;
  padding: 4vw 3vw;
  // height: 100%;
}

#output {
  align-items: center;
  background-color: $main-orange;
  border-radius: $rectangle-corner-radius;
  display: flex;
  // padding-left: 3vw;
  padding: 4vw 3vw;
}

.output-items {
  font-family: $main-font;
  font-size: $output-font-size;
  font-weight: 700;
  line-height: 1em;
}

h1 {
  align-self: center;
  font-family: $main-font;
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: $subtitle-line-height;
  margin: 0;
}

.frame {
  align-items: center;
  display: flex;
  height: 100%;  
}

.robot-layout {
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  height: 100%;
  padding: max(30px, 5vw);
  width: 100%;
}

.robots {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.robot-button {
  background: none;
  border: 0;
  margin: max(10px, 1vw);
  transition: all 0.25s ease;
  width: fit-content;
}

@keyframes bounce {
  0% {
    padding-bottom: 0;
    padding-top: 3px;
  }
  
  50% {
    padding-bottom: 3px;
    padding-top: 0;
  }
  
  100% {
    padding-bottom: 0;
    padding-top: 3px;
  }
}

.robot-button:hover {
  cursor: pointer;
  transform: scale(1.05) perspective(1px);
  // animation: bounce linear infinite 1s;
}

.robot-image {
  height: 100%;
  //  width: 100%;
}
