@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'), 
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'),
    url('../assets/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: bold;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: medium;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: regular;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Darker Grotesque';
  font-weight: semiBold;
  src: local('DarkerGrotesque'),
    url('../assets/DarkerGrotesque-SemiBold.ttf') format('truetype');
}



body {
  margin: 0;
}

// Variables
$main-background: #fff;
$main-orange: #ff8a00;
$main-green: #36b37e;
$code-background: #322727;
$main-blue: #00b8d9;
$hover-color: #adadad;
$dropdown-open: lightgrey;
$main-font: 'Darker Grotesque', sans-serif;
$code-font: 'Roboto Mono', monospace;
$code-font-size: 18px;
$output-font-size: 20px;
$sidebar-font-size: 18px;
$subtitle-font-size: 36px;
$subtitle-line-height: 91.6%;
$rectangle-corner-radius: 8px;
$sidebar-width: 275px;

// Elements
#code {
  align-items: center;
  background-color: $code-background;
  border-radius: $rectangle-corner-radius;
  display: flex;
  font-family: $code-font;
  font-size: $code-font-size;
  padding: 0 3vw;
}

#output {
  align-items: center;
  background-color: $main-orange;
  border-radius: $rectangle-corner-radius;
  display: flex;
  padding-left: 3vw;
}

.output-items {
  font-family: $main-font;
  font-size: 23px;
  font-weight: 700;
  line-height: 26px;
}

h1 {
  align-self: center;
  font-family: $main-font;
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: $subtitle-line-height;
}

.frame {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 5vw;
  width: 100%;
}

.code-and-output {
  display: grid;
  gap: 1vw;
  grid-template-columns: 70% auto;
}

.robots {
  display: flex;
  justify-content: space-evenly;
  padding: 2vw;
}

.robot-layout {
  display: grid;
  grid-template-rows: 45% auto 40%;
  height: 100%;
  width: 100%;
}

.robot-button {
  background: none;
  border: 0;
  height: 100%;
  width: fit-content;
}

.robot-image {
  height: 100%;
}
