@import 'global';

#nextButton {
  background-color: $main-orange;
  border-radius: 20px;
  color: black;
  font-family: $main-font;
  font-size: 22px;
  margin-bottom: auto;
  margin-right: 30px;
  margin-top: calc(100vh - 70px);
  padding: 5px 20px;
  text-decoration: none;
}
