@import 'global';

.nextButton {
  background-color: $main-orange;
  border-radius: 20px;
  color: black;
  font-family: $main-font;
  font-size: 24px;
  height: 27px;
  line-height: 23px;
  margin-top: calc(100vh - 70px);
  padding: 5px 20px;
  position: absolute;
  right: 30px;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 45px;
  opacity: 50%;
  cursor: default;
}

#enabled {
  opacity: 100%;
  cursor: pointer;
}
