@import 'global';

#next-button-container {
  background-color: $main-orange;
  border-radius: 20px;
  bottom: 20px;
  cursor: default;
  opacity: 50%;
  padding: 10px 20px;
  position: absolute;
  right: 20px;
}

@media only screen and (max-width: 1000px) {
  #next-button-container {
    right: calc(50% - 45px);
  }
}

.nextButton {
  background-color: transparent;
  border: 0;
  color: black;
  font-family: $main-font;
  font-size: 24px;
  line-height: 10px;
  text-decoration: none;
}

.enabled {
  cursor: pointer;
  opacity: 100%;
}
