@import 'global';

.dropWrapperOp {
  height: 27px;
}

.dropOp {
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  min-height: 27px;
  width: 60px;
}


.dropOp.is-open {
  // background-color: $light-orange;
  -webkit-box-shadow: 5px 5px 18px -4px rgba(48, 35, 14, 0.17);
  box-shadow: 5px 5px 18px -4px rgba(48, 35, 14, 0.17);
}
