@import 'global';

#code {
  align-items: center;
  background-color: $code-background;
  border-radius: $rectangle-corner-radius;
  display: flex;
  font-family: $code-font;
  font-size: $code-font-size;
  height: 350px;
  margin-right: 20px;
  padding-left: 30px;
  width: 450px;
}

.white {
  color: white;
}

.orange {
  color: $main-orange;
}

.blue {
  color: $main-blue;
}

#output {
  align-items: center;
  background-color: $main-orange;
  border-radius: $rectangle-corner-radius;
  display: flex;
  height: 350px;
  padding-left: 20px;
  width: 180px;
}

#dropdowns {
  height: 90px;
  position: absolute;
  width: 70px;
}

#problem {
  display: flex;
  margin-top: 40px;
}

#python {
  margin: auto 0;
}

h1 {
  font-family: $main-font;
  font-size: $subtitle-font-size;
  font-weight: bold;
  line-height: $subtitle-line-height;
  margin-top: 0;
}

