@import 'global';

.white {
  color: white;
}

.orange {
  color: $main-orange;
}

.blue {
  color: $main-blue;
}

#dropdowns {
  height: 90px;
  position: absolute;
  width: 70px;
}

#problem {
  margin-top: 3vw;
}

#python {
  display: grid;
  grid-template-rows: 10% auto;
  height: 80%;
  width: 100%;
  // justify-content: center;
}

