@import 'global';

#sidebar {
  background-color: $main-orange;
  display: inline-block;
  font-family: $main-font;
  height: 100vh;
  width: 275px;
}

#header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: inherit;
}

#title {
  color: white;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  padding-left: 15px;
  padding-right: 35px;
  padding-top: 15px;
  position: relative;
}

#logo {
  height: 8vh;
  left: 5px;
  position: relative;
  top: 5px;
  width: 55px;
}

#desc {
  padding-left: 15px;
  padding-right: 15px;
}
