@import 'global';

#sidebar {
  background-color: $main-orange;

  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-size: $sidebar-font-size;
  font-weight: 700;
  justify-content: space-between;
  padding: max(30px, 2.2vw);
}

#header {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  gap: 1vw;
  margin-bottom: 1.5vw;
  width: inherit;
}

#title {
  color: white;
  font-size: $title-font-size;
  font-style: normal;
  font-weight: 600;
}

#logo {
  width: 40px;
}
